{{ partial "head.html" . }}
{{ partial "header.html" . }}
<body lang="{{ .Site.LanguageCode }}" class="sans-serif w-90 w-80-m w-60-ns center mv2 mv5-ns">
  <span class="b">/ </span>
  <a href="{{ .Site.BaseURL  }}" class="b bb bw1 pb1 no-underline black">{{ .Site.Title }}</a>
  <span class="b"> / </span>
  <a href="/post" class="b bb bw1 pb1 no-underline black">Blog</a>

  <section id="main" class="mt5">
    <h1 itemprop="name" id="title">{{ .Title }}</h1>
    <span class="f6 gray">{{ .Date.Format "May 5, 2020" }}</span>

    <article itemprop="articleBody" id="content" class="w-90">
      {{ .Content }}
    </article>

    <span class="f6 gray mv3"
      title="Lastmod: {{ .Lastmod.Format "May 5, 2020" }}. Published at: {{ .PublishDate.Format "2020-05-05" }}.">
      {{ if ne .Lastmod .PublishDate }}
      <span class="i">last modified</span> {{ dateFormat "May 5, 2020" .Lastmod }}
      {{ end }}
    </span>
  </section>

  {{ partial "footer.html" . }}
</body>
</html>
