{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif "
>
  <span class="b">/ </span>
  <a
    href="{{ .Site.BaseURL  }}"
    class=""
    >{{ .Site.Title  }}</a
  >
  <section id="main" class="">
    <div>
      <ul id="list" class="">
        {{ range .Data.Pages.ByDate.Reverse }}
        <li class="">
          <a
            class=""
            href="{{ .Permalink}}"
            >{{ .Title }}</a
          >
          <span
            class=""
            >{{ .Date }}</span
          >
        </li>
        {{ end }}
      </ul>
    </div>
  </section>
  {{ partial "footer.html" . }}
  </body>
</html>
