<!DOCTYPE html>
<html class="" lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html"}}
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ partial "head_includes.html"}}
  </head>
  <body lang="{{ .Site.LanguageCode }}" class="sans-serif w-90 center center-ns mv2">
    {{ partial "nav.html" . }}
    <section id="main">
      <div>
        <h1 id="title" class="f2 center center-ns">
          {{ .Site.Title }} {{ .Site.Params.TitleEmoji | emojify }}
        </h1>
        <ul class="list pl0">
          <code>Greetings</code>
          {{ range .Site.Params.menu }}
          <li class="mv3">
            <p>_</p>
            <a class="f3 pa1" href="{{ .url }}">{{ .name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </section> 
 
  </body>
  {{ partial "footer.html" . }}
</html>
